syntax: glob

*.tmproj
*.pidb
*.sln
*.userprefs
*.csproj
*.unityproj
*.exe
*.pdb

AnnotationManager
assetDatabase3
AssetImportState
assetservercachev3
AssetVersioning.db
AudioManager.asset
BuildPlayer.prefs
BuildSettings.asset
EditorSettings.asset
EditorUserBuildSettings.asset
expandedItems
FailedAssetImports.txt
guidmapper
InspectorExpandedItems.asset
MonoManager.asset
NetworkManager.asset
ScriptMapper

cache/*
builds/*
Temp/*
metadata/*
ScriptAssemblies/*
previews/*
Assets/Logs/*
Assets/data/*
evosim_Data/*
ProjectSettings/NavMeshLayers.asset
Library/*
ProjectSettings/NavMeshAreas.asset
ProjectSettings/ProjectVersion.txt
Assets/data.meta
Assets/settings.json.orig
Assets/Resources/Materials/creature.mat
